# Project: Exploring NYC Public School Test Result Scores

* Create a pandas DataFrame called `best_math_schools` containing the "`school_name`" and "`average_math`" score for all schools where the results are at least 80% of the maximum possible score, sorted by "`average_math`" in descending order.
* Identify the top 10 performing schools based on scores across the three SAT sections, storing as a pandas DataFrame called `top_10_schools` containing the school name and a column named "`total_SAT`", with results sorted by `total_SAT` in descending order.
* Locate the NYC borough with the largest standard deviation for "`total_SAT`", storing as a DataFrame called `largest_std_dev` with "borough" as the index and three columns: "`num_schools`" for the number of schools in the borough, "`average_SAT`" for the mean of "`total_SAT`", and "`std_SAT`" for the standard deviation of "`total_SAT`". Round all numeric values to two decimal places.


Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a maximum score of 800 points. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

## plan

1. schools with best math score
2.

In [1]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

## find best maths schools

In [16]:
# Query the schools DataFrame to select schools where the average math score is greater than 80% of the total possible score
best_maths_schools = schools.query('average_math/800 >= 0.8')

# Select the 'school_name' and 'average_math' columns, sort by 'average_math' in descending order
best_maths_schools = best_maths_schools[['school_name', 'average_math']].sort_values(by='average_math', ascending=False)

# Print the resulting DataFrame
print(best_maths_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

## find top 10 overall schools

In [22]:

# Create a copy of the schools DataFrame
top_10_schools = schools.copy()

# Add a new column 'total_SAT' to the DataFrame, which is the sum of the 'average_math', 'average_reading', and 'average_writing' columns
top_10_schools['total_SAT'] = (top_10_schools['average_math'] + top_10_schools['average_reading'] + top_10_schools['average_writing'])

# Sort the DataFrame by the 'total_SAT' column in descending order and select the top 10 rows
top_10_schools = top_10_schools.sort_values(by='total_SAT', ascending=False).head(10)

# Print the resulting DataFrame
print(top_10_schools)

                                           school_name        borough  \
88                              Stuyvesant High School      Manhattan
170                       Bronx High School of Science          Bronx
93                 Staten Island Technical High School  Staten Island
174  High School of American Studies at Lehman College          Bronx
333                        Townsend Harris High School         Queens
365  Queens High School for the Sciences at York Co...         Queens
5                       Bard High School Early College      Manhattan
280                     Brooklyn Technical High School       Brooklyn
45                       Eleanor Roosevelt High School      Manhattan
68   High School for Mathematics, Science, and Engi...      Manhattan

    building_code  average_math  average_reading  average_writing  \
88           M477           754              697              693
170          X445           714              660              667
93           R440           711              660              670
174          X905           669              672              672
333          Q515           680              640              661
365          Q774           701              621              625
5            M097           634              641              639
280          K430           682              608              606
45           M855           641              617              631
68           M812           683              610              596

     percent_tested  total_SAT
88             97.4       2144
170            97.0       2041
93             99.7       2041
174            91.8       2013
333            97.1       1981
365            97.9       1947
5              70.8       1914
280            95.5       1896
45             86.0       1889
68             92.6       1889

## find borough with largest stdev

In [26]:
# Add total_SAT column to the schools DataFrame
schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

# Group the DataFrame by 'borough', calculate the required statistics, and round to two decimal places
borough_stats = schools.groupby('borough')['total_SAT'].agg(['count', 'mean', 'std']).round(2)

# Rename the columns
borough_stats.columns = ['num_schools', 'average_SAT', 'std_SAT']

# Find the borough with the largest standard deviation for 'total_SAT'
largest_std_dev = borough_stats[borough_stats['std_SAT'] == borough_stats['std_SAT'].max()]

print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29

In [27]:
print(borough_stats)

               num_schools  average_SAT  std_SAT
borough
Bronx                   98      1202.72   150.39
Brooklyn               109      1230.26   154.87
Manhattan               89      1340.13   230.29
Queens                  69      1345.48   195.25
Staten Island           10      1439.00   222.30